@tailwind base;
@tailwind components;
@tailwind utilities;

.angle-top {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
}

.angle-top-invert {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 100%);
}
